html, body {
    height:100%;
}

.page-title{
    padding-left: 5px;
}

.chart-container{
    width: 600px;
    height: 600px;
}

.control-panel{
    padding-left: 10px;
}

.control-panel .keywords-container .keyword{
    margin-left: 3px;
}

.control-panel .bgroup{
    margin-top: 10px;
}
